<div class='edit-title' md-dialog-title></div>
<mat-dialog-content>
  <div class="content-wrapper">
    <mat-form-field class="join-href">
      <input matInput placeholder="Ссылка на приглашение">
    </mat-form-field>
    <button mat-raised-button color='primary'>Присоединиться</button>
  </div>
</mat-dialog-content>
<!--<mat-dialog-actions>-->
  <!--<button mat-raised-button color='primary'>Добавить</button>-->
  <!--<button mat-raised-button (click)="closeDialog()">Отмена</button>-->
<!--</mat-dialog-actions>-->
