<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">SCRUM board</a>
      <div class='menu-wrapper'>
        <button  mat-button *ngIf='!auth.isAuthenticated()' (click)="auth.login()" type="button">Войти</button>
        <button  mat-button *ngIf='auth.isAuthenticated()' [matMenuTriggerFor]="menu" type="button">Проекты</button>
        <mat-menu #menu="matMenu">
          <button *ngFor='let project of projects' mat-menu-item routerLink='/projects/{{project._id}}/tasks' type="button">{{project.title}}</button>
          <button mat-menu-item type="button" (click)="addProject()">Добавить</button>
          <button mat-menu-item type="button" (click)="joinProject()">Присоединиться</button>
        </mat-menu>
        <button mat-button *ngIf='auth.isAuthenticated()' (click)="addTask()" type="button">Новая задача</button>
        <button mat-button *ngIf='auth.isAuthenticated()' (click)="auth.logout()" type="button">Выход</button>
      </div>
  </div>
</nav>

<main role="main" class="container-fluid">
  <router-outlet></router-outlet>
</main>
