<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">SCRUM board</a>
      <div class='menu-wrapper'>
        <button *ngIf="!auth.isAuthenticated()" mat-button (click)="auth.login()" type="button">Войти</button>
        <button *ngIf="auth.isAuthenticated()" mat-button [matMenuTriggerFor]="menu" type="button">Проекты</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/projects/1/tasks" type="button">Project 1</button>
          <button mat-menu-item routerLink="/projects/2/tasks" type="button">Project 2</button>
          <button mat-menu-item routerLink="/projects/3/tasks" type="button">Project 3</button>
          <button mat-menu-item routerLink="/projects/4/tasks" type="button">Project 4</button>
        </mat-menu>
        <button *ngIf="auth.isAuthenticated()" mat-button (click)="auth.logout()" type="button">Выход</button>
      </div>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
